{% extends layout %}

{% block translations_content %}

    <h1>{{ 'translations' | trans }}</h1>

    <nav>
        {% if filters %}
        <ul>
            {% for filter in filters %}
                <li>
                    <a href="?filter={{ filter.name }}">{{ ('translations_' ~ filter.name) | trans }}</a>
                </li>
            {% endfor %}
        </ul>
        {% else %}
        <ul>
            {% for domain in domains %}
                <li>
                    <a href="#section-{{ domain }}">{{ ('translations_' ~ domain) | trans }}</a>
                </li>
            {% endfor %}
        </ul>
        {% endif %}
    </nav>

    <form method="post" action="{{ path('astina_translations_update') }}">
        {% for domain,data in messages %}
            {% if messages|length > 1 %}
            <h2 id="section-{{ domain }}">{{ ('translations_' ~ domain) | trans }}</h2>
            {% elseif filter %}
            <h2 id="section-{{ domain }}">{{ ('translations_' ~ filter.name) | trans }}</h2>
            {% endif %}

            <table class="table">
                <tr>
                    <th>Key</th>
                    {% for locale in locales %}
                        <th>{{ locale }}</th>
                    {% endfor %}
                </tr>
                {% for key,trans in data %}
                    <tr>
                        <td><code>{{ key }}</code></td>
                        {% for locale in locales %}
                            {% set value = (trans[locale] is defined ? trans[locale] : '') %}
                            <td>
                                <input type="text" name="trans[{{ domain }}][{{ key }}][{{ locale }}]" value="{{ value }}" />
                            </td>
                        {% endfor %}
                    </tr>
                {% endfor %}
            </table>

            <button type="submit">Save</button>
        {% endfor %}

    </form>

{% endblock %}
